<?xml version="1.0"?>
    <config>
        <modules>
            <CursoMagento_PrimeiroController>
                <version>0.1.0</version>
            </CursoMagento_PrimeiroController>
        </modules>
        <frontend>
            <routers>
                <cursomagento_primeirocontroller>
                    <use>standand</use>
                    <args>
                        <modules>CursoMagento_PrimeiroController</modules>
                        <frontName>primeirocontroller</frontName>
                    </args>
                </cursomagento_primeirocontroller>
            </routers>
        </frontend>
    </config>