<?xml version="1.0"?>
<config>
    <module>
        <CursoMagento_SampleModule>
            <version>1.0.0</version>
        </CursoMagento_SampleModule>
    </modules>
    <global>
        <models>
            <cursomagento_samplemodule>
                <class>CursoMagento_SampleModule_Model</class>
                <resourceModel>cursomagento_samplemodule_resource</resourceModel>
            </cursomagento_samplemodule>
            <catalog>
                <rewrite>
                    <product>CursoMagento_SampleModule_Model_Product</product>
                </rewrite>
            </catolog>
            <cursomagento_samplemodule_resource>
                <class>CursoMagento_SampleModule_Model_Resource</class>
            </cursomagento_samplemodule_resource>
        </models>
        <resources>
            <cursomagento_samplemodule>
                <setup>
                    <module>CursoMagento_SampleModule</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </cursomagento_samplemodule>
        </resources>
        <blocks>
            <cursomagento_samplemodule>
                <class>CursoMagento_SampleModule_Block</class>                
            </cursomagento_samplemodule>
        </blocks>
        <helpers>
            <cursomagento_samplemodule>
                <class>CursoMagento_SampleModule_Helper</class>                
            </cursomagento_samplemodule>
        </helpers>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <cursomagento_samplemodule_sample_observer>
                        <type>singleton</type>
                        <class>cursomagento_samplemodule/observer</class>
                        <method>sampleMethod</method>
                    </cursomagento_samplemodule_sample_observer>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
    <frontend>
        <routers>
            <cursomagento_samplemodule>
                <use>standard</use>
                <args>
                    <module>CursoMagento_SampleModule</module>
                    <frontName>samplemodule</frontName>
                </args>
            </cursomagento_samplemodule>
        </routers>
        <layout>
            <updates>
                <cursomagento_samplemodule>
                    <file>cursomagento_samplemodule.xml</file>
                </cursomagento_samplemodule>
            </updates>
        </layout>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <cursomagento_samplemodule_sample_observer>
                        <type>singleton</type>
                        <class>cursomagento_samplemodule/observer</class>
                        <method>sampleMethod</method>
                    </cursomagento_samplemodule_sample_observer>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <translate>
            <cursomagento_samplemodule>
                <files>
                    <default>CursoMagento_SampleModule.csv</default>
                </files>
            </cursomagento_samplemodule>
        </tranlate>
    </frontend>
    <admin>
        <routers>
            <cursomagento_samplemodule>
                <use>admin</use>
                <args>
                    <module>CursoMagento_SampleModule</module>
                    <frontName>samplemodule</frontName>
                </args>                
            </cursomagento_samplemodule>
        </routers>
    </admin>
    <adminhtml>       
        <layout>
            <updates>
                <cursomagento_samplemodule>
                    <file>cursomagento_samplemodule_adminhtml.xml</file>
                </cursomagento_samplemodule>
            </updates>
        </layout>        
        <translate>
            <cursomagento_samplemodule>
                <files>
                    <default>CursoMagento_SampleModule_Adminhtml.csv</default>
                </files>
            </cursomagento_samplemodule>
        </tranlate>
    </adminhtml>
    <crontab>
        <jobs>
            <cursomagento_samplemodule>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cursomagento_samplemodule/observer::cursomagento_samplemodule</model>
                </run>
            </cursomagento_samplemodule>
        </jobs>
    </crontab>
    <default>
        <sales>
            <general>
               <hide_customer_ip>1</hide_customer_ip>
            </general>
        </sales>
    </default>
</config>
